/*
 *	作者: zw
 *	创建时间：
 *	描述：按钮组件
 */

 @charset "utf-8";

button {
	text-align: center;
	/* letter-spacing: 4px; */
}

/* 按钮1 */
.layui-btn{
	border-radius: 4px;
	background-color:#54ACF0;
}
.layui-btn:hover{
	opacity: 1;
	background-color: #6DBBF7;
}
.layui-btn:active{
	background-color: #429CE2;
}
.layui-btn-disabled, .layui-btn-disabled:active, .layui-btn-disabled:hover{
	background-color: #CCCCCC;
	color:#FFF;
}
/* 按钮2 */
.layui-btn-primary{
	background-color: #EEF7FD;
	border: none;
	color:#54ACF0;
}
.layui-btn-primary:hover{
	background-color: #E0F1FC;
	color:#54ACF0;
}
.layui-btn-primary:active{
	background-color: #E0F1FC;
}
.layui-btn-primary.layui-btn-disabled,.layui-btn-primary.layui-btn-disabled:hover,.layui-btn-primary.layui-btn-disabled:active{
	background-color: #EEF7FD;
	color:#54ACF0;
	border:none;
}
/* 按钮3 */
.layui-btn-normal{
	background-color: #FFF;
	border:1px solid #54ACF0;
	color:#54ACF0;
}
.layui-btn-normal:hover{
	background-color: #FFF;
	border:1px solid #6DBBF7;
	color:#6DBBF7;
}
.layui-btn-normal:active{
	background-color: #FFF;
	border:1px solid #429CE2;
	color:#429CE2;
}
.layui-btn-normal.layui-btn-disabled,.layui-btn-normal.layui-btn-disabled:hover,.layui-btn-normal.layui-btn-disabled:active{
	background-color: #FFF;
	color:#cccccc;
	border:1px solid #cccccc;
}
/* 按钮4 */
.layui-btn-warm{
	background-color: #FFF;
	border:1px solid #999999;
	color: #333333;;
}
.layui-btn-warm:hover{
	background-color: #FFF;
	border:1px solid #6DBBF7;
	color: #333333;;
}
.layui-btn-warm:active{
	background-color: #FFF;
	border:1px solid #54ACF0;
	color: #333333;;
}
.layui-btn-warm.layui-btn-disabled,.layui-btn-warm.layui-btn-disabled:hover,.layui-btn-warm.layui-btn-disabled:active{
	background-color: #FFF;
	color:#cccccc;
	border:1px solid #cccccc;
}
/* 删除按钮 */
.layui-btn-danger,.layui-btn-danger:hover,.layui-btn-danger:active{
	background-color: #FFF;
	border:1px solid #F05654;
	color:#F05654;
}
/* 按钮5 */
.select-btn-one,.select-btn-two{
	display: inline-block;
	position: relative;
}
.select-btn-one:hover .layui-icon-up,.select-btn-two:hover .layui-icon-up{
	display:inline-block;
}
.select-btn-one:hover .layui-icon-down,.select-btn-two:hover .layui-icon-down{
	display:none;
}
.select-btn-one:hover .select-btn-downbit,.select-btn-two:hover .select-btn-downbit,.select-btn-one:hover .select-btn-upbit,.select-btn-two:hover .select-btn-upbit{
	display:block;
}
.select-btn-one .select-btn-downbit,.select-btn-two .select-btn-downbit{
	position: absolute;
	min-width: 100%;
	top: 39px;
	display: none;
	z-index: 9;
}
.select-btn-one .select-btn-upbit,.select-btn-two .select-btn-upbit{
	position: absolute;
	min-width: 100%;
	bottom: 39px;
	display: none;
	z-index: 9999;
}
.select-btn-one .select-btn-downbit .select-btn-tips,.select-btn-two .select-btn-downbit .select-btn-tips,.select-btn-one .select-btn-upbit .select-btn-tips,.select-btn-two .select-btn-upbit .select-btn-tips{
	line-height: 38px;
	background-color: #FFF;
	color:#666;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	padding: 0 10px;
}
.select-btn-one .select-btn-downbit .select-btn-tips:first-child,.select-btn-two .select-btn-downbit .select-btn-tips:first-child,.select-btn-one .select-btn-upbit .select-btn-tips:first-child,.select-btn-two .select-btn-upbit .select-btn-tips:first-child{
	border-radius: 4px 4px 0 0;
}
.select-btn-one .select-btn-downbit .select-btn-tips:last-child,.select-btn-two .select-btn-downbit .select-btn-tips:last-child,.select-btn-one .select-btn-upbit .select-btn-tips:last-child,.select-btn-two .select-btn-upbit .select-btn-tips:last-child{
	border-radius: 0 0 4px 4px;
}
.select-btn-one .select-btn-downbit .select-btn-tips:hover,.select-btn-two .select-btn-downbit .select-btn-tips:hover,.select-btn-one .select-btn-upbit .select-btn-tips:hover,.select-btn-two .select-btn-upbit .select-btn-tips:hover{
	background-color: #F0F0F0;
}
.select-btn-one .select-btn-downbit .select-btn-tips:active,.select-btn-one .select-btn-downbit .select-btn-tips.select-btn-this,.select-btn-two .select-btn-downbit .select-btn-tips:active,.select-btn-two .select-btn-downbit .select-btn-tips.select-btn-this,.select-btn-one .select-btn-upbit .select-btn-tips:active,.select-btn-one .select-btn-upbit .select-btn-tips.select-btn-this,.select-btn-two .select-btn-upbit .select-btn-tips:active,.select-btn-two .select-btn-upbit .select-btn-tips.select-btn-this{
	background-color: #54ACF0;
	color:#FFF;
}
.layui-btn-five,.layui-btn-five:hover,.layui-btn-five:active{
	background-color: #EEF7FD;
	color:#54ACF0;
	position: relative;
}
/* 按钮6 */
.layui-btn-six,.layui-btn-six:hover,.layui-btn-six:active{
	background-color: #54ACF0;
	color:#FFF;
	position: relative;
}

.layui-btn-five .layui-icon-up,.layui-btn-six .layui-icon-up{
	display:none;
}
.layui-btn-five .layui-icon,.layui-btn-six .layui-icon{
	position: relative;
	right: -8px;
	font-size: 12px;
}
/* 小型按钮 */
.layui-btn-sm{
	height: 28px;
	line-height: 28px;
}
/* 固定底部按钮 */
.bottom-layui-btn{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
	line-height: 60px;
	border-top: 1px solid rgba(0,0,0,0.1);
	z-index: 99;
}
.bottom-layui-btn .layui-btn{
	margin-left:30px;
}