/*
 *	作者: zw
 *	创建时间：
 *	描述：文本域组件
 */

 @charset "utf-8";
 /* 文本域1 */
 .layui-input{
     border-color:#C0C0C0;
 }
 .layui-input::placeholder{
     color: #999999;
 }
 .layui-input:hover, .layui-textarea:hover{
     border-color:#54ACF0 !important;
 }
 /* 文本域2 */
 .input-first-container{
     position: relative;
 }
 .input-first-container .input-number{
     position: absolute;
     right:10px;
     top: 50%;
     margin-top:-7px;
     color:#999999;
 }