/*
 *	作者: zw
 *	创建时间：
 *	描述：文本域组件
 */

@charset "utf-8";

/* 文本域1 */
.input-one1-container {
    width: 260px;
}
.input-one2-container {
    width: 130px;
}
.layui-input,
.layui-textarea {
    border-color: #C0C0C0;
    border-radius: 4px;
    resize: none;
}

.layui-input::placeholder {
    color: #999999;
}

.layui-input:hover,
.layui-textarea:hover {
    border-color: #54ACF0 !important;
}

/* 文本域2 */
.input-second-container,
.input-third-container {
    position: relative;
    width: 982px;
}

.input-second-container .input-number {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    color: #999999;
}

/* 文本域3,6 */
.input-third-container .layui-input,.input-six-container .layui-input {
    padding-left: 20px;
}

.input-third-container .input-before,.input-six-container .input-before {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -9px;
}
.input-six-container{
    width: 260px;
    position: relative;
}
/* 文本域4 */
.input-four-container .layui-textarea{
    width: 982px;
    height: 354px;
}
/* 文本域5 */
.input-five-container{
    width: 982px;
}
.input-five-container .layui-textarea{
    width: 982px;
    height: 103px;
    color: #999999;
}
.input-five-container .desc,.input-five-container .input-number{
    font-size: 12px;
    color: #999999;
}
.input-five-container .desc,.input-five-container .input-number{
    margin-top:5px;
}