/*
 *	作者: zby
 *	创建时间：
 *	描述：标签组件
 */
@charset "utf-8";

.lable-title {
    color: #333333;
    width: 90px;
}

.lable-search {
    margin-left: 20px;
}

.lableGroup {
    margin-top: 20px;
    margin-left: 120px;
    height: 108px;
    overflow: hidden;
}

.lableGroup .lable-btn {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    background: #EEF7FD;
    color: #333333;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    border: 1px solid #EEF7FD;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
    margin-right: 8px;
}

.lableGroup .lable-btn:hover {
    border: 1px solid #54ACF0;
}

.lableGroup .lable-btn.active {
    background: #54ACF0 !important;
    color: #ffffff !important;
}

.lableAdd {
    margin-top: 25px;
}

.lableAdd:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.lableAdd .num {
    padding: 9px 0;
}

.lableAdd .lable-show {
    margin-top: 15px;
    margin-left: 120px;
}

.lableAdd .lable-show .lable-add-btn {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    background: #54ACF0;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    border: 1px solid #54ACF0;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    margin: 0 8px 8px 0;
}

.lableAdd .lable-show .layui-icon {
    font-size: 14px !important;
}
/*inputtags===============================*/
.inputLables
{
    width: 406px;
    margin: 0;
    padding: 0;
    color: #777;
    border: 1px solid #d5d5d5;
    background-color: #fff;
}

.inputLables span{
    color: #ffffff;
    background-color: #54ACF0;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    position: relative;
    display: inline-block;
    height: 16px;
    margin: 3px;
    padding: 4px 22px 5px 9px;
    cursor: pointer;
    transition: all .2s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}
.inputLables .close{
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: none;
    width: 18px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    color: #ffffff;
    border: 0 none;
    background: transparent none repeat scroll 0 0;
    text-shadow: none;
}
.inputLables .close:hover{
    background: #54ACF0;
}
#inputTags[type='text'],
#inputTags[type='text']:focus{
    line-height: 25px;
    display: inline;
    width: 150px;
    margin: 0;
    padding: 0 6px;
    border: 0 none;
    outline: 0 none;
    box-shadow: none;
}

.albtn{
    line-height: 30px;
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #ffb800;
}