/*
 *	作者: zzy
 *	创建时间：
 *	描述：布局
 */

@charset "utf-8";

/* 布局 */
.layui-form .layui-input-block {
    margin-left: 140px;
}

.layui-form .layui-form-label {
    width: 140px;
    font-size: 14px;
    color: #333333;
    padding: 9px 5px !important;
    box-sizing: border-box;
}

.layui-form .tip {
    color: #F05654;
}

.layui-form .desc {
    font-size: 13px;
    color: #999;
    margin-top: 5px;
    height: 19.5px;
}

.layui-form .msg {
    font-size: 12px;
    color: #F05654;
    margin-top: 5px;
    height: 18px;
}

.layui-form .form-title {
    padding: 20px 0;
    font-size: 14px;
    color: #333;
    line-height: 1;
}

.input-layout-one .context {
    width: 980px;
}

.layui-text em, .layui-word-aux {
    color: #54ACF0!important;
    font-size: 12px;
}

.layui-form-item .layui-input-inline {
    margin-right: 8px;
}

.input-layout-two .layui-form-label {
    width: 310px;
}
.input-layout-two .layui-input-block {
    margin-left: 310px;
}
.layui-form-item .layui-inline {
    margin-right: 5px;
}
.table-one {
    background-color: #F5F5F5;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    min-width: 1050px;
}
.table-one td {
    font-size: 14px;
    color: #666;
    padding: 10px 20px;
    /* text-align: left; */
    vertical-align: top;
}
.table-one th {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    padding: 20px 20px 10px 20px;
    text-align: left;
    vertical-align: top;
}
.table-one tfoot {
    border-top: 1px #E3E3E3 solid;
}
.table-one tfoot td {
    padding: 20px;
}